#barChart {
    color:red;
    float:left;
    width: 32%;
    padding: 1%;
    margin-left: 1%;
    height: 35vh;
    display: block;
    margin-bottom: 8%;
}
#barChart:hover {
    cursor: pointer;
}
/* #barChart:after {
    content: "";
    display: block;
    clear: both;
} */
