.graph-area {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
    box-shadow: rgba(24, 8, 8, 0.15) 0px 5px 15px 0px;
    margin-right: 10px;
    border-radius: 10px;
    display: inline-block;
    width: 80%;
    margin-top: 20px;
}

.line-graph {
    margin: 10px;
    min-height: 55vh;
}

.forecast-graph {
    box-shadow: rgba(24, 8, 8, 0.15) 0px 5px 15px 0px;
    /* margin-right: 10px; */
    border-radius: 10px;
    display: inline-block;
    width: 80%;
    height: auto;
    padding: 10px;
}
